<table border="1">
  <tr>
    <th> Line Item </th>
    <th> Quantity </th>
  </tr>
  <% @user_line_items.each do |line_item| %>
    <tr>
      <td> <%= line_item.product.title %> </td>
      <td> <%= line_item.quantity %> </td>
    </tr>
  <% end %>
</table>

<p><%= paginate @user_line_items %></p>
