<html>
  <head>
    <title> My Layout! </title>

    <style>
      .header {
        border: 1px red dotted;
        width: 20%;
        text-align: center;
        line-height:30px;
      }
    </style>

  </head>
  <body>
    <div class="header">
      Showing my layout
    </div>
    <br />
    <%= yield %>
  </body>
</html>
